.Home {
  font-family: 'Arial', sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: #4b5cbd;
  padding: 10px;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: rgba(75, 92, 189, 0.8);
}

/* Header Styles */
.Home-header {
  color: white;
  text-align: center;
  padding: 2px 0;
  /* background-size: center; */
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(75, 92, 189, 0.8);
  margin: 5px;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s ease-in-out, transform 0.8s ease-in-out;
  /* Add animation */
  animation: zoomInOut 10s infinite alternate; /* Adjust duration and other properties as needed */
}
@keyframes zoomInOut {
  0% {
    background-size: 100% 100%; /* Zoomed in */
  }
  100% {
    background-size: 120% 120%; /* Zoomed out */
  }
}

.Home-header.show {
  opacity: 1;
  transform: scale(1);
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.Home-header.show .header-content {
  opacity: 1;
  transform: translateY(0);
}

.inner-header {
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}

.Home-header.show .inner-header {
  opacity: 1;
}

h1, p {
  transition: margin-bottom 0.8s ease-in-out;
}

.cta-buttons {
  display: flex;
  justify-content: center;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgba(60, 73, 150, 0.8);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, background-color 0.3s ease-in-out;
}

.Home-header.show .cta-button {
  opacity: 1;
  transform: translateY(0);
}

.cta-button:hover {
  background-color: #303966;
}

/* Reels Section Styles */
.reels-section {
  background-color: #f0f0f0;
  padding: 40px 0;
  text-align: center;
}

.reel-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.reel {
  flex: 0 0 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, background-color 0.3s ease-in-out;
  background-color: rgba(75, 92, 189, 0.8);
}

.reel:hover {
  background-color: #5e6ebf;
}

.reel img {
  width: 100%;
  height: auto;
}

.reel p {
  padding: 10px;
  color: white;
  margin: 0;
}

/* Articles Section Styles */
.articles-section {
  padding: 40px 0;
  text-align: center;
  margin-left: 50px;
  background-color: white;
}

.article {
  display: flex;
  margin: 30px;
}

.article img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  margin-right: 20px;
}

.article-content {
  flex: 1;
  text-align: left;
}

.article h3, .article p {
  transition: margin-bottom 0.8s ease-in-out;
}

.read-more-link {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.read-more-link:hover {
  color: #45a049;
}

.Home-header.show {
  opacity: 1;
}

.reel.show {
  opacity: 1;
  transform: translateY(0);
}

body {
  background: linear-gradient(to right, rgba(75, 92, 189, 1), rgb(48, 59, 122)cocacoraccccc)
  /* background-color: rgba(75, 92, 189, 1); */
}

@keyframes animateLetters {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

h1 span {
  display: inline-block;
  opacity: 0;
  animation: animateLetters 3s infinite alternate;
}

h1 span:nth-child(1) {
  animation-delay: 0.1s;
}

h1 span:nth-child(2) {
  animation-delay: 0.2s;
}

h1 span:nth-child(3) {
  animation-delay: 0.3s;
}

h1 span:nth-child(4) {
  animation-delay: 0.4s;
}

h1 span:nth-child(5) {
  animation-delay: 0.5s;
}

h1 span:nth-child(6) {
  animation-delay: 0.6s;
}

h1 span:nth-child(7) {
  animation-delay: 0.7s;
}

h1 span:nth-child(8) {
  animation-delay: 0.8s;
}

h1 span:nth-child(9) {
  animation-delay: 0.9s;
}

h1 span:nth-child(10) {
  animation-delay: 1s;
}

h1 span:nth-child(11) {
  animation-delay: 1.1s;
}

h1 span:nth-child(12) {
  animation-delay: 1.2s;
}

h1 span:nth-child(13) {
  animation-delay: 1.3s;
}

h1 span:nth-child(14) {
  animation-delay: 1.4s;
}

h1 span:nth-child(15) {
  animation-delay: 1.5s;
}

h1 span:nth-child(16) {
  animation-delay: 1.6s;
}

h1 span:nth-child(17) {
  animation-delay: 1.7s;
}

h1 span:nth-child(18) {
  animation-delay: 1.8s;
}

h1 span:nth-child(19) {
  animation-delay: 1.9s;
}

h1 span:nth-child(20) {
  animation-delay: 2s;
}

h1 span:nth-child(21) {
  animation-delay: 2.1s;
}

